@import 'config';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size;
    height: 100%;
}

.wrapper {
    width: 110rem;
    margin: 0 auto;
}

.page {
    height: 100%;
    font-family: $font-family;
    &__inner {
        max-width: $max-size;
        height: 100vh;
    }
}

.dashboard {
    height: 20rem;
    padding-top: 3rem;
    font-size: 1.5rem;
    @include themify($themes) {
        background-color: themed("secondary-bg");
        color: themed("text-color");
    }

    &__heading {
        @include themify($themes) {
            color: themed("heading-color");
        }

        & + div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.toggle {
    display: flex;

    &__text {
        align-self: center;
    }

    &__button {
        display: flex;
        input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 5rem;
            height: 2.6rem;
            display: block;
            border-radius: 2rem;
            position: relative;
            background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));      
        }
        
        label:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 2px;
            width: 2rem;
            height: 2rem;
            background: #fff;
            border-radius: 9px;
            transition: 0.3s;
            @include themify($themes) {
                background-color: themed("primary-bg");
            }
        }
        
        input:checked + label {
            background: hsl(230, 22%, 74%);
        }
        
        input:checked + label:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }
        
        label:active:after {
            width: 3.25rem;
        }
    }
}